body{
    background-image:url(/static/img/Black\ Wallpaper\ 10.jpg);
    margin: 0;
}
.signupform {
    position: absolute;
    margin: 9vw 35vw 0vw;
    font-size: 20px;
    opacity: 0.8;
    padding: 20px 40px;
    color:white;     
}
input[type=text]{
    padding-bottom: 10px;
    margin: 10 0 10 0;
}

input[type=password]{
    padding-bottom: 10px;
    margin: 10 0 10 0;
}

input[type=submit]{
    margin: 10 0 10 0;
    background-color: rgb(2 227 133);
    padding: 7px 10px 7px 10px;
    font-size: inherit;
}

input[type=email]{
    padding-bottom: 10px;
    margin: 10 0 10 0;
}

