<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign-up</title>
    <link rel="stylesheet" href="/static/signup.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ed347a10bd.js" crossorigin="anonymous"></script>
    
    
    
</head>
<body>
    <div class="signupform">
        <form>
            Your Name<br>
            <input type="text"  name="name"><br>
            
            Choose a username<br>
            <input type="text"  name="email"><br>
            
            Email<br>
            <input type="email" name="email"><br>

            Choose Password<br>
            <input type="password"  name="password" ><br><br>

            <div class= "submit">
                <input type="submit"  name="submit" value="Submit"> <br>
            </div>
        </form>  
    </div>
    
</body>
</html>